{
    "presets": [
      ["@babel/env", {
        "targets": {
          "node": "current"
        }
      }]
    ],
    "plugins": [
      ["@babel/plugin-transform-runtime"],
      ["module-resolver",{
        "alias":{
          "@babel-src":"./src",
          "@babel-controllers":"./src/controllers",
          "@babel-middleware":"./src/middleware",
          "@babel-models":"./src/models",
          "@babel-services":"./src/services",
          "@babel-routing":"./src/routing",
          "@babel-template":"./src/template"
        }
      }]
    ]
  }